body {
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	height: 100vh;
}
/* .container > * {
	flex: 1 100%;
} */

.sidebar {
	display: flex;
	/* flex-direction: column; */
	min-width: 150px;
	padding: 10px;
	width: 360px;
}

.sidebarItem {
	list-style: none;
	height: 30px;
	cursor: pointer;
	padding: 5px 10px;
	margin: 2px;
	color: #16a2d7;
	font-size: 1.1em;
	flex-wrap: wrap;
	border-radius: 15px;
	border: 2px solid #999595;
}

.sidebarItem:hover {
	background-color: rgb(189, 216, 33);
	transition: 250ms ease-in-out;
}

/* .sidebar .logout {
	border: 2px solid #999595;
	text-align: center;
	width: 140px;

	border-radius: 15px;
} */
.username {
	padding: 15px;
}
.main {
	display: flex;
	flex-direction: column;
	flex: 2;
	border: 1px solid black;
}
.conversation {
	display: flex;
	flex: 2;
	border: 2px darkblue solid;
	align-self: stretch;
	margin: 2px;
}

.dialog {
	border: 2px darkblue solid;
	padding: 2px;
	display: flex;
	flex-direction: row;
	align-self: stretch;
	margin: 2px;
	justify-content: space-between;
}
.textInput {
	flex: 1;
	font-size: large;
	margin: 2px;
}

.sendButton {
	height: 100px;
	width: 150px;
	background-color: rgb(30, 187, 226);
	border-radius: 25%;
}

.sendButton:hover {
	transition: 0.4s ease-in-out;
	background-color: rgb(35, 135, 160);
}

.formContainer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	border: 2px darkblue solid;
	display: flex;
	padding: 15px;
	flex-direction: column;
}

.content {
	border: 2px solid black;
	height: 72vh;
}

.newButton {
	padding: 3px;
	margin: 3px;
}

.primaryBtn {
	margin: 20px 10px;
	cursor: pointer;
	font-weight: 500;
	padding: 13px 25px;
	border-radius: 15px;
	font-size: 0.8rem;
	border: none;
	color: white;
	background: #185adb;
	transition: all 0.25s ease;
}

.primaryBtn:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}
