body {
	overflow: hidden;
	margin: 0;
}

.container {
	display: flex;
	height: 100vh;
}
/* .container > * {
	flex: 1 100%;
} */

.sidebar {
	display: flex;
	flex-direction: column;
	min-width: 150px;
	border-right: 2px #999595 solid;
	padding: 10px;
	width: 150px;
}

.sidebarItem {
	list-style: none;
	cursor: pointer;
	padding: 5px 10px;
	color: #16a2d7;
	font-size: 1.3em;
	flex-wrap: wrap;
}

.sidebarItem:hover {
	background-color: rgb(206, 218, 214);
	transition: 250ms ease-in-out;
}

.sidebar .logout {
	border-top: 2px solid #999595;
	width: 140px;
	margin-top: auto;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 2;
	border: 1px solid black;
}
.conversation {
	display: flex;
	flex: 2;
	border: 2px darkblue solid;
	align-self: stretch;
	margin: 2px;
}

.dialog {
	border: 2px darkblue solid;
	padding: 2px;
	display: flex;
	flex-direction: row;
	align-self: stretch;
	margin: 2px;
	justify-content: space-between;
}
.textInput {
	flex: 1;
	font-size: large;
	margin: 2px;
}

.sendButton {
	height: 100px;
	width: 150px;
	background-color: rgb(30, 187, 226);
	border-radius: 25%;
}

.sendButton:hover {
	transition: 0.4s ease-in-out;
	background-color: rgb(35, 135, 160);
}

.formContainer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	border: 2px darkblue solid;
	display: flex;
	padding: 15px;
	flex-direction: column;
}
